@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.container {
  background-color: #f3f3f3;
  height: 600px;
  width: 375px;
  position: relative;
}
.cabecalho {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.cabecalho ion-icon {
  font-size: 40px;
}
.cabecalho img {
  width: 75px;
  height: 53px;
}
.logo {
  width: 75px;
  height: 53px;
  margin-left: 22px;
}
.icone {
  margin-right: 22px;
}
.menu-inferior {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.digitar-texto {
  height: 80px;
}
.menu-inferior input {
  width: 75%;
  height: 25px;
  border: none;
  margin-top: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: italic;
  color: #000000;
  margin-left: 17px;
  margin-top: 25px;
  outline: none;
  font-family: "Roboto", sans-serif;
}
.icone-baixo ion-icon {
  margin-right: 18px;
  font-size: 33px;
}
.entrar-na-sala {
  width: 100%;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 2px;
  position: absolute;
}
.mensagens {
  width: 100%;
  height: 40px;
  background-color: red;
  left: 0;
  top: 200px;
  position: absolute;
  display: flex;
}
